body {
    background-color: #1C1C1C;
    color: #1C1C1C;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
p {
    color: white;
}
h1 {
  color: white;
  margin-top: 40px;
  margin-bottom: 80px;
  text-align: center;
  transition: color 1s ease;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -ms-transition: color 1s ease;
  -o-transition: color 1s ease;
}

h1:hover {
  color: rgb(238, 255, 0);
}
h2 {
    color: white;
}
h3 {
    color: rgb(255, 255, 255);
    margin-left: 30px;
}
h4 {
    text-align: center;
    color: rgb(255, 255, 255);
}

.tab {
    overflow: visible;
    border: 0px solid #4D4D4D;
    background-color: #A4A4A4;
  }

  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    margin-right: 10px;
  }

  .tab button:hover {
    background-color: #878787;
  }

  .tab button.active {
    background-color: #6A6A6A;
  }
  .rounded-box {
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .box {
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }
  .arrow::before {
    content: "";
    display: block;
    height: 30px;
    border-left: 2px solid black;
    margin-top: -15px;
  }
  .rank {
    font-weight: bold;
    margin-right: 10px;
  }
              .name {
    margin-top: 10px;
  }