p {
    color: white;    
}
body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    list-style: lower-latin;
    text-align: center;
    border-bottom: 1px white double;
    margin-bottom: 2cm;
}

h1:hover {
    color: green;
    transition: all 750ms ease-in-out;
}

h2 {
    color: white;
    list-style: lower-latin;
    text-align: center;
}
h3 {
    color: white;
    list-style: lower-latin;
    text-align: center;
}    
h4 {
    color: white;
    list-style: lower-latin;
    text-align: center;
}    
a {
    color: #009CFF;
    text-align: center;
    display: inline-block;
}
video {
    text-align: center;
}
form {
    text-align: center;
}
/* Style the tab content */
.tab-content {
  display: none;
  padding: 15px;
}
.tab-content.active {
  display: block;
}

/* Style the tab button container */
.tab-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Style the tab button */
.tab-button {
  background-color: #ccc;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 5px;
  cursor: pointer;
}

/* Style the active tab button */
.tab-button.active {
  background-color: #f1f1f1;
}
