body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    list-style: lower-latin;
    text-align: center;
    border-bottom: 1px white double;
    margin-bottom: 2cm;
}

h1:hover {
    color: green;
    transition: all 750ms ease-in-out;
}

h2 {
    color: white;
    list-style: lower-latin;
    text-align: center;
}
h3 {
    color: white;
    list-style: lower-latin;
    text-align: center;
}    
h4 {
    color: white;
    list-style: lower-latin;
    text-align: center;
a {
    color: #009CFF;
    text-align: center;
}
form {
    text-align: center;
}
